<% include ../layout/admin_head.ejs %>
<h1>Photo</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>id</th>
        <th>user id</th>
        <th>photoNumber</th>
        <th>time</th>
        <th>photo URL</th>
        <th>photo</th>
        <th>photo</th>
        <th>date</th>
    </tr>
    </thead>
    <tbody>
    <% data.forEach(function(user){ %>
    <tr>
        <td><%=user.id%></td>
        <td><%=user.user_id%></td>
        <td><%=user.photoNumber%></td>
        <td><%=user.time%></td>
        <td><%=user.photo%></td>
        <td>
            <div class="photo-item">
                <a href="<%= user.photo %>" target="_blank">
                    <img src="/upload/quest/<%= user.user_id %>_<%= user.photoNumber %>.<%= user.photoExtension %>" alt=""/>
                </a>
            </div>
        </td>
        <td>
            <% if (typeof user.photoNumber != 2 || photoNumber != 5) { %>

            <div class="photo-item">
                <a href="/upload/quest/<%= user.user_id %>_<%= user.photoNumber %>--frame.<%= user.photoExtension %>" target="_blank">
                    <img src="/upload/quest/<%= user.user_id %>_<%= user.photoNumber %>--frame.<%= user.photoExtension %>" alt=""/>
                </a>
            </div>
            <% } else { %>
                -
            <% } %>
        </td>
        <td><%=user.createdAt%></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% include ../layout/admin_bottom.ejs %>