<% include ../layout/admin_head.ejs %>
<h1>Print</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>user</th>
        <th>photo_id</th>
        <th>date</th>
    </tr>
    </thead>
    <tbody>
    <% data.forEach(function(user){ %>
    <tr>
        <td><%=user.user_id%></td>
        <td><%=user.photo_id%></td>
        <td><%=user.createdAt%></td>
    </tr>
    <% }) %>
    </tbody>
</table>
<% include ../layout/admin_bottom.ejs %>