<% include ../layout/admin_head.ejs %>
<h1>user</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>email</th>
        <th>photo1</th>
        <th>photo2</th>
        <th>photo3</th>
        <th>photo4</th>
        <th>photo5</th>
    </tr>
    </thead>
    <tbody>
    <% for(var index in data) { var item = data[index]; %>
    <tr>
        <td><%= item.id %></td>
        <td><%= item.email %></td>
        <% for (var i = 0; i < 5; i++) { %>
        <td>
            <%= typeof item.data[i] != 'undefined' ? item.data[i].time : '-' %>
            <br/>


            <div class="photo-item">
                <% if (typeof item.data[i] !== 'undefined') { %>
                <div class="photo-item">
                    <% if (typeof item.data[i].photo !== 'object') { %>

                    <a href="<%= item.data[i].photo %>" target="_blank">
                        <img src="/upload/quest/<%= item.data[i].id %>_<%= item.data[i].photoNumber %>.<%= item.data[i].photoExtension %>" alt=""/>
                    </a>
                <% } %>
                </div>
                <% } else { %>
                <% } %>
            </div>
        </td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
</table>
<% include ../layout/admin_bottom.ejs %>