blue = #0c4da2

screen-header-height = 320px
.screen
  display: none
  position: relative
  z-index: 5

// Header
.screen-header
  width: 100%
  height: screen-header-height
  display: none
  .item
    width: 20%
    height: screen-header-height
    font-size: 0
    display: block
    float: left
    position: relative
    .light
      width: 30px
      height: 30px
      border-radius: 50%
      background: rgba(255, 255, 255, 0.65)
      position: absolute
      top: 200px
      left: 50%
      margin-left: -15px
      box-shadow: 0 0 56px 68px rgba(255, 255, 255, 0.65)
  for num in (1..5)
    background = "../img/home_header_%s__none.png" % num
    backgroundActive = "../img/home_header_%s.png" % num
    .head_{num}
      position: relative
      margin: 0 auto
      width: 200px
      background: url(background) center no-repeat
      height: screen-header-height
      &.active
        background: url(backgroundActive) center no-repeat

// screen-task
.screen-task
  width: 100%
  position: absolute
  top: 300px
  left: 0
  height: 700px
  .item
    width: 20%
    height: screen-header-height
    font-size: 0
    display: block
    float: left
    position: relative
  .block
    display: block
    width: 320px
    height: 425px
    background: rgba(255, 255, 255, 0.9)
    margin: 0 auto
    border-radius 10px
    padding: 20px
    border 4px solid #fff
    &:after
      content: ''
      display: block
      width: 75px
      height: 91px
      position: absolute
      top: 561px
      margin-left: -25px
      left: 50%
      background: url('../img/clock.png') no-repeat
    .name
      font-size: 35px
      font-weight: bold
      color: blue
      height: 85px
      line-height: 40px
    .text
      padding-top: 10px
      font-size: 18px
      color: blue
      p
        display: block
        margin-bottom: 20px
    .time
      width: 151px
      height: 52px
      position: absolute
      top: 730px
      left: 50%
      margin: -58px
      background: blue
      color: #ffffff
      padding-top: 4px
      font-size: 28px
      text-align: center
      border-radius 15px
      font-weight: bold;
    .image
      width: 130px
      height: 130px
      max-width: 130px
      max-height: 130px
      position: absolute
      top: 390px
      border-radius 15px
      border: 3px solid #fff
  > div:nth-child(1)
    .image
      transform: rotate(5deg)
      left: 135px
  > div:nth-child(2)
    .image
      transform: rotate(10deg)
      left: 135px
  > div:nth-child(3)
    .image
      transform: rotate(10deg)
      left: 135px
  > div:nth-child(4)
    .image
      transform: rotate(-18deg)
      left: 155px
  > div:nth-child(5)
    .image
      top: 385px
      transform: rotate(-4deg)
      left: 180px

.screen-photo
  width: 100%
  position: absolute
  top: 300px
  height: 650px
  .info
    display: block
    width: 320px
    height: 425px
    background: rgba(255, 255, 255, 0.9)
    border-radius 10px
    padding: 20px
    border 4px solid #fff
    margin-left: 50px
    position: relative
    .clock
      position: absolute
      top: 18px;
      left: 48px;
    .time
      position: relative
      text-align: center
      font-weight: bold
      color: #ffffff
      top: 171px;
      font-size: 38px;
    .image
      position: absolute
      top: 343px
      left: 80px
      transform: rotate(5deg)
      width: 150px
      height: 150px
      max-width: 150px
      max-height: 150px
      border-radius 15px
      border: 3px solid #fff
    .timer
      width: 296px
      height: 278px
      position: absolute
      top: 17px;
      left: 7px;
    .timer-left, .timer-right
      position: absolute
      width: 100px
      height: 70px
      text-align: right;
      top: 176px;
      left: 12px;
      font-size: 75px;
      font-weight: bold;
      color: #ffffff
    .timer-right
      left: 186px
      text-align: left
    .finish
      position: relative
      left: -15px
    .finishBad
      position: absolute
      left: 10px
      top: 0
  .content
    width: 1400px
    height: 500px
    position: absolute
    left: 430px
    top: 0
    background: rgba(255, 255, 255, 0.9)
    border-radius 10px
    padding: 20px
    border 4px solid #fff
    &.num4
      height: 700px
    &.num5
      height: 600px
    &.photo
      background: none
      border none
      text-align: center;
    .horizontal
      position: relative
      top: -25px
    .vertical
      position: relative
      top: -30px
    &.gif
      text-align: center
      img
        max-width: 1000px
        max-height 600px
    &.panorama
      text-align: center
      img
        max-width: 1000px
        max-height 600px
    img
      max-width: 1200px
      max-height 700px
.tpl-data
  position: absolute
  z-index: -100
  left: -9000em
  right: -9000em

// screen-content
.screen-content
  width: 1100px
  height: 500px
  position: relative
  top: 200px
  background: rgba(255, 255, 255, 0.9)
  margin: 0 auto
  border-radius 10px
  padding: 20px
  text-align: center
  border 4px solid #fff

.showAllSuccessResult
  .result
    font-size: 60px
    color: #0c4da2
    position: relative
    top: 70px
    b
      position: relative
      top: 40px
      font-weight: bold

.showBad1Result, .showBad2Result
  .result
    font-size: 65px;
    color: #0c4da2;
    position: relative;
    top: 70px;

.showBad2Result
  .result
    font-size: 71px;
    color: #0c4da2;
    position: relative;
    top: 45px;

.screen-print
  img
    position: relative
    top: 50px

.screen-success
  img
    position: relative
    top: 16px
  .discount
    width: 200px
    height: 100px
    text-align: right
    position: absolute
    left: 356px
    top: 171px
    font-size: 96px
    color: #0c4da2
    font-weight: bold

.screen-bad
  img
    position: relative
    top: 45px

.screen-finish
  img
    position: relative
    top: 20px

.screen-email
  img
    position: relative
    top: 45px
  .email
    width: 100%
    position: absolute
    top: 180px
    text-align: center
    font-size: 56px
    color: #0c4da2
  .name
    color: #1390cf

.showGalleryItem
  width: 1920px
  height: 1080px
  position: absolute
  top: 0
  left: 0
  white-space: nowrap;
  text-align: center;
  .image
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  img
    max-width: 1700px
    max-height: 900px
    vertical-align: middle;

