body
  min-width: 1900px
  min-height: 1080px
  position: relative
  overflow hidden
  cursor none
  font-family: 'Open Sans', sans-serif;

.video-block
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 100
  background: #000000
  #video
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;

img.bg {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}