.name
  pre
    margin-top: 10px
    padding: 5px
  pre.json
    padding: 0
    border: none
.json-format, .string-format {
  background-color: ghostwhite;
  border: 1px solid silver;
  padding: 10px 20px;
}

.json-key {
  color: brown;
}

.json-value {
  color: navy;
}

.json-string {
  color: olive;
}

.emittingEventName {
  font-weight: bold;
  font-size: 17px;
  color: #000000;
}