@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-Light.ttf");
    src: url("OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("OpenSans-Light.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 300;
    font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-LightItalic.eot?v=1.1.0");
    src: url("OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("OpenSans-LightItalic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 300;
    font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-Regular.eot?v=1.1.0");
    src: url("OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("OpenSans-Regular.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-Italic.eot?v=1.1.0");
    src: url("OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("OpenSans-Italic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: normal;
    font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-Semibold.eot?v=1.1.0");
    src: url("OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("OpenSans-Semibold.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 600;
    font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-SemiboldItalic.eot?v=1.1.0");
    src: url("OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("OpenSans-SemiboldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 600;
    font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-Bold.eot?v=1.1.0");
    src: url("OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("OpenSans-Bold.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: bold;
    font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-BoldItalic.eot?v=1.1.0");
    src: url("OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("OpenSans-BoldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: bold;
    font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-ExtraBold.eot?v=1.1.0");
    src: url("OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("OpenSans-ExtraBold.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 800;
    font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("OpenSans-ExtraBoldItalic.eot?v=1.1.0");
    src: url("OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("OpenSans-ExtraBoldItalic.svg?v=1.1.0#OpenSansBold") format("svg");
    font-weight: 800;
    font-style: italic;
}