<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/font/font.css"/>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home-main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<img class="bg" src="/img/bg.jpg" alt=""/>

<div class="screen-header">

    <div class="item">
        <div class="light"></div>
        <div class="head head_1"></div>
    </div>

    <div class="item">
        <div class="light"></div>
        <div class="head head_2"></div>
    </div>

    <div class="item">
        <div class="light"></div>
        <div class="head head_3"></div>
    </div>

    <div class="item">
        <div class="light"></div>
        <div class="head head_4"></div>
    </div>

    <div class="item">
        <div class="light"></div>
        <div class="head head_5"></div>
    </div>

</div>
<div class="screen screen-task">
    <div class="item">
        <div class="block">
            <div class="name">СЕЛФИ <br> С БОРОДАЧОМ</div>
            <div class="text">
                <p>
                    Найди бородатого человека в толпе, возьми его за руку и приведи к А-стенду Samsung.
                </p>

                <p>
                    Сделай с ним селфи на телефон Samsung GALAXY A Series, который ты держишь сейчас в руках.
                </p>
            </div>
            <img class="image" src="/img/task_image/task1.jpg" alt=""/>

            <div class="time">3 мин</div>
        </div>
    </div>

    <div class="item">
        <div class="block">
            <div class="name">СЕЛФИ <br/> В ТАНЦЕ</div>
            <div class="text">
                <p>
                    Ну что, ты уже размялся? Самое время для танцев! И не говори, что ты не умеешь!
                </p>

                <p>
                    Тебе необходимо сделать селфи в танце!
                </p>
            </div>
            <img class="image" src="/img/task_image/task2.jpg" alt=""/>

            <div class="time">2 мин</div>
        </div>
    </div>
    <div class="item">
        <div class="block">
            <div class="name">СЕЛФИ <br/>С УТКОЙ</div>
            <div class="text">
                <p>
                    У тебя нет ещё фотографии с уткой? Тогда скорее беги и найди её! Да-да, утку!
                </p>

                <p>
                    Поймай её и веди к стенду, чтобы сделать селфи с ней!
                </p>
            </div>
            <img class="image" src="/img/task_image/task3.jpg" alt=""/>

            <div class="time">1.5 мин</div>
        </div>
    </div>
    <div class="item">
        <div class="block">
            <div class="name">ДРУЖЕСКИЕ <br/> ОБЪЯТИЯ</div>
            <div class="text">
                <p>
                    Выбери любую прекрасную леди / молодого человека среди посетителей Торгового центра иприведи к
                    стенду.
                </p>

                <p>
                    Встаньте вместе напротив камеры Samsung GALAXY A Series, обнимитесь обеими руками и кричи «Снимай!»
                    — Samsung GALAXY A Series сам сделает фото!
                </p>
            </div>
            <img class="image" src="/img/task_image/task4.jpg" alt=""/>

            <div class="time">2 мин</div>
        </div>
    </div>
    <div class="item">
        <div class="block">
            <div class="name">WEFIE</div>
            <div class="text">
                <p>
                    Хочешь быть в центре внимания? Тогда у тебя есть шанс!
                </p>

                <p>
                    Собери вокруг себя, как можно больше людей и приведи их к стенду, расположи камеру Samsung GALAXY A
                    Series так, чтобы всех было видно и сделай фото.
                </p>
            </div>
            <img class="image" src="/img/task_image/task5.jpg" alt=""/>

            <div class="time">3 мин</div>
        </div>
    </div>
</div>
<div class="screen screen-photo">
    <div class="info">

    </div>
    <div class="content">
        1231231
    </div>
</div>


<div class="tpl-data photo-info-show">
    <div class="clock"><img src="/img/info-clock.png" alt=""/></div>
    <div class="time">2 мин</div>
    <img class="image" src="" alt=""/>
</div>
<div class="tpl-data photo-info-start">
    <div class="timer"><img src="/img/info-timer.png" alt=""/></div>
    <div class="timer-left">5</div>
    <div class="timer-right">15</div>
</div>
<div class="tpl-data photo-info-finish">
    <img class="finish" src="/img/info-finish.png" alt="">
</div>
<div class="tpl-data photo-info-finishBad">
    <img class="finishBad" src="/img/info-finish-bad.png" alt="">
</div>
<div class="tpl-data photo-content-1">
    <img src="/img/task1.png" alt=""/>
</div>
<div class="tpl-data photo-content-2">
    <img src="/img/task2.png" alt=""/>
</div>
<div class="tpl-data photo-content-3">
    <img src="/img/task3.png" alt=""/>
</div>
<div class="tpl-data photo-content-4">
    <img src="/img/task4.png" alt=""/>
</div>
<div class="tpl-data photo-content-5">
    <img src="/img/task5.png" alt=""/>
</div>
<div class="screen screen-print">
    <div class="screen-content">
        <img src="/img/print.png" alt=""/>
    </div>
</div>

<div class="screen screen-bad">
    <div class="screen-content">
        <img src="/img/bad.png" alt=""/>
    </div>
</div>

<div class="screen screen-success">
    <div class="screen-content">
        <img src="/img/success.png" alt=""/>

        <div class="discount">50</div>
    </div>
</div>

<div class="screen screen-email">
    <div class="screen-content">
        <img src="/img/email.png" alt=""/>

        <div class="email">на e-mail: <span class="name"></span></div>
    </div>
</div>

<div class="screen screen-finish">
    <div class="screen-content">
        <img src="/img/finish.png" alt=""/>
    </div>
</div>

<div class="screen showAllSuccessResult">
    <div class="screen-content">
        <div class="result">
            Поздравляем, Твой подарок
            <div><b>Монопод!</b></div>
        </div>
    </div>
</div>

<div class="screen showBad1Result">
    <div class="screen-content">
        <div class="result">
            К сожалению, ты не справился с заданием. Попробуй в следующий раз!
        </div>
    </div>
</div>

<div class="screen showBad2Result">
    <div class="screen-content">
        <div class="result">
            К сожалению, ты не справился с заданием, но все равно получишь подарок!
        </div>
    </div>
</div>


<div class="screen showGalleryItem">
    <div class="image">
    </div>
    <img src="" alt="">
</div>

<div class="video-block">
    <video id="video">
        <source src="/video/video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/jquery.countdown/dist/jquery.countdown.min.js"></script>
<script src="/home.js"></script>
</body>
</html>