<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/quest.css">
</head>
<body>

<div class="container">
    <h3>Base</h3>
    <hr/>
    <div class="row">
        <div class="col-md-6 name questConnection">
            <input class="btn btn-info" type="button">
        </div>
        <div class="col-md-6 name startQuest">
            <input class="btn btn-info" type="button" onclick="">
        </div>
    </div>
    <br/>

    <h3>Photo</h3>
    <hr/>
    <div class="row">
        <div class="col-md-6 name showPhotoTask">
            <input class="btn btn-info" type="button" onclick="">
        </div>
        <div class="col-md-6 name startPhotoTask">
            <input class="btn btn-info" type="button" onclick="">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 name finishPhotoTask">
            <input class="btn btn-info" type="button" onclick="">
        </div>
    </div>
    <br/>

    <h3>Result</h3>
    <hr/>
    <div class="row">
        <div class="col-md-6 name showSuccessResult">
            <input class="btn btn-info" type="button" onclick="">
        </div>
        <div class="col-md-6 name showBadResult">
            <input class="btn btn-info" type="button" onclick="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 name showBad1Result">
            <input class="btn btn-info" type="button" onclick="">
        </div>
        <div class="col-md-6 name showBad2Result">
            <input class="btn btn-info" type="button" onclick="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 name showAllSuccessResult">
            <input class="btn btn-info" type="button" onclick="">
        </div>
    </div>
    <br/>

    <h3>Email and print</h3>
    <hr/>
    <div class="row">
        <div class="col-md-6 name showEmail">
            <input class="btn btn-info" type="button" onclick="">
        </div>
        <div class="col-md-6 name showPrint">
            <input class="btn btn-info" type="button" onclick="">
        </div>
    </div>
    <br/>

    <h3>Finish screen and disconnect</h3>
    <hr/>
    <div class="row">
        <div class="col-md-6 name showFinishScreen">
            <input class="btn btn-info" type="button" onclick="">
        </div>
        <div class="col-md-6 name disconnectApp">
            <input class="btn btn-info" type="button" onclick="">
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/util.js"></script>
<script src="/quest.js"></script>
</body>
</html>